# Node / Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno y Secretos
.env
.env.local
.env.*.local

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs y Temporales
*.log
scratch/
tmp/
